name: Build and Push Backend Image to Docker Hub
run-name: "${{github.actor}} is running for ECS"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-node-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            muraly26/node-image-app:latest
            muraly26/node-image-app:v1.0.${{ github.run_number }}

  build-react-image:
      runs-on: ubuntu-latest
      permissions:
          packages: write
          contents: read
          attestations: write
          id-token: write

      steps:
        - name: Checkout Repository
          uses: actions/checkout@v4

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ vars.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Build and Push React Image
          uses: docker/build-push-action@v5
          with:
            context: ./frontend
            file: ./frontend/Dockerfile
            push: true
            build-args: |
              REACT_APP_API_URL=${{ vars.REACT_APP_API_URL }}
            tags: |
              muraly26/react-image-app:latest
              muraly26/react-image-app:v1.0.${{ github.run_number }}